// color variables
$primary : #071A30;
$bg-light : #f6f8fc;
$primary-dim: #384759;
$white : #ffffff;
$dark-blue : #05408E;
$light-blue : #4d78b1;
//$light-blue: #f1f7ff;
$light-grey : #E5E5E5;
$orange : #FF782D;
$orange-light: #ffb992;
$stone-grey  : #e6ecf4;
$dark-grey: #9ba2ac;
$grey: #6b7988;
$alto : #dee6f0;
$green-whatsapp : #25C942;
$light : #f3f4f5;